/* ikiwiki local style sheet */
@import "bootstrap/less/bootstrap.less";
@import "style.css";
/* Add local styling here, instead of modifying style.css. */

body {
}


.hroy-align {
    @media (min-width: @screen-md) {
        margin-left: 280px;
    }
}
.hroy-left-align {
    @media (min-width: @screen-md) {
        width: 260px;
    }
}
.no-hroy-align {
    margin-left: 0;
}


.pageheader  {
    margin: 0;
    padding: 2em 1em 0 1em;

    .header {
        float: none;
        clear: both;
        font-size: 1em;

        .masthead {
            display: block;
            padding-bottom: 5em;
            margin: auto;
            width: 100%;
            max-width: 80em;

            .title {
                .hroy-align;
                font-family:@font-family-base;
                display: block;
                font-weight: 900;
                font-size: 2em;
            }
        }
    }
}

#pagebody {
    .pageheader .header .masthead;
    padding: 5em 1em;
}

#content {
    padding: 0;
    padding-bottom: 5em;
    margin: 0;
    font-size: 1.1em;

    h1, h2, h3, h4, h6, ul, ol, header a, blockquote, pre, .inlinefooter, .archivepage  {
        .hroy-align;
        max-width: 600px;

        h1, h2, h3, h4, h6, ul, ol, header a, blockquote, pre, .inlinefooter, .archivepage  {
            .no-hroy-align;
        }
    }

    p { 
        .hroy-align; 
        max-width: 36em; 
    }
    * p { .no-hroy-align; }
    .inlinecontent p { .hroy-align; }
    .inlinecontent * p { .no-hroy-align; }

    .img {
        caption {
            .hroy-left-align;
            position: absolute;
            text-align: right;
        }
        img.img {
            .hroy-align;
        }
    }

    aside.pull-right, aside.pull-left {
        .img {
            caption { 
                .no-hroy-align; 
                text-align: center; 
                position: relative; 
            }
            img.img { .no-hroy-align; }
        }
    }

    .inlineheader .header a {
        display: block;
        font-weight: 700;
    }
    
}


.inlinepage {
    overflow-y: hidden;
}

article.inlinepage {
    border: 0;
    margin: 1em 0 10em 0;
}

.sidebar {
    padding: 0 2ex;
    min-width: 150px;
}

.pageheader {
    background: url(/background.jpg) fixed no-repeat 50% -20px  #000;
    color: #fff;
    border: 0;
}



.pageheader .actions {
    top: 0;
    height: 16px;
    position: absolute;

    ul li {
        visibility: hidden;
        border: 0;
        background: transparent;
    }
}

.pageheader .actions:hover {
    visibility: visible; 
    height: 16px;

    ul li { visibility: visible; }

    ul li span {
        color: #999;
    }
}

.pageheader .trails {
    display: none;
}


.pagedate.published {
    display: none;
    margin-bottom: 2em;
}

#pageinfo {
    border-color: #CCC;
    padding: 0 1em;
}

.trails {
    color: #666;

    a:link {
        color: #999;
    }
    a:visited {
        color: #CCC;
    }
    .trail {
        margin-left: 2em;
    }

    .trailup {
        visibility: hidden;
    }
}

#comments {
    margin-top: 4em;

    .subscribers:before {
        content: "Comments";
        display: inline-block;
        margin: 0 1em 0 0;
        font-size: 1.2em;
        font-weight: bold;
        color: rgb(154, 154, 154);
        font-family: "Cantarell", sans-serif;
    }

    .comment {
        border: 0;
        margin-bottom: 2em;
    }
    .comment-header {
        font-weight: 500;
    }
    a.terms {
        color: rgb(154, 154, 154);
        font-size: 0.9em;
        vertical-align: middle;
        padding: 0 .5em;
    }
}

#footer {

    .contact {
        margin-top: 1em;
    }
}


.feedbutton {
    font-family:@font-family-base;
    margin-top: 0.5em;
}

.feedlink.pull-right {
    float: none !important;
}

@media (min-width: 700px) {
    .feedlink.pull-right {
        float: right !important;
    }
}

[id^="fnref:"].footnote,
[id*=" fnref:"].footnote {
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0.7em;
}

.footnotes li p {
    font-size: 1em;
}

#content .toggleable {
    margin-left: 1.5em;
}


#blog-motto {
    color: @gray;
    @media (min-width: @screen-md) {
        margin-bottom: -1.4em;
    }
}


@import "fonts.less";
@import "font-awesome.css";
