@import "bootstrap/less/variables.less";

.hroy-align {
    margin-left: 280px;
    margin-right: 10%;
}
.hroy-left-align {
    @media (min-width: @screen-md) {
        width: 260px;
        float: left;
    }
}
.hroy-left-align-negative {
    @media (min-width: @screen-md) {
        margin-left: -280px;
    }
}
.no-hroy-align {
    margin-left: 0;
    margin-right: 0;
}

.hroy-layout {
    display: block;
    margin: 1em auto 0;
    width: 100%;
    max-width: 80em;
}

.hroy-max-px {
    max-width: 666px;
}
.hroy-max-em {
    max-width: 36em; 
}

.button {
    box-shadow: 0px 1px 1px @gray-lighter, 0px -1px @white;
}
