@import "hroy.less";

#content {
    margin: 0;
}

@media (min-width: 700px) {
    #content {
        margin: 1em 2em;
    }
}

#ma-tete {
    display: block;
    margin: 1em auto;
}

.pageheader .header {
    background: url(/background.jpg) 50% 66%  #333;
    color: #fff;
    text-shadow: 0px 0px 0.2em rgb(0, 0, 0);
    text-align: center;
    padding: 1em;

    .title {
        display: block;
    }
}


@media (min-width: 700px) {
    .pageheader .header {
        position: fixed;
        width: 220px;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 1em 0 0 0;
    }
}
@media (min-width: 1300px) {
    .pageheader .header {
        width: 280px;
    }

}
@media (min-width: 1500px) {
    .pageheader .header {
        width: 400px;
    }
}

#searchform {
    opacity: 0.7;
}

.pageheader .parentlinks a {
    text-shadow: 0px 0px 0.2em rgb(0,0,0);
}

.sidebar {
    border-left: 1px solid rgba(0,0,0,0.1);

    .nav { 
        margin:0 -2ex;
    }

    .nav>li>.selflink{position:relative;display:block;padding:10px 15px;color:#666}
    .nav>li>.selflink:hover,.nav>li>.selflink:focus{text-decoration:none;background-color:#eee}

}

article {
    aside.pull-right, aside.pull-left {
        float: none !important;
    }
}
@media (min-width: 500px) {
    article {
        aside.pull-right {
            float: right !important;
        }
        aside.pull-left {
            float: left !important;
        }
    }
}
