/* ikiwiki local style sheet */

/* Add local styling here, instead of modifying style.css. */

.inlinepage {
    overflow-y: hidden;
}

.sidebar {
    padding: 0 2ex;
}

.header .title {
    display: inline-block;
}
