@import "/hroy.less";

.pageheader {
    background: url(/background.jpg);
}

.pageheader .header {
    color: #fff;
    text-shadow: 0px 0px 0.2em rgb(0, 0, 0);
}

.pageheader .parentlinks a {
    text-shadow: 0px 0px 0.2em rgb(217, 38, 28);
}
