body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Roboto",Roboto,"Open Sans","OpenSans","DejaVu Sans",sans-serif;text-rendering:optimizeLegibility;-moz-font-feature-settings:"liga","calt";-webkit-font-feature-settings:"liga","calt";-ms-font-feature-settings:"liga";-o-font-feature-settings:"liga";font-feature-settings:"liga"}
a:hover,a:active,a:focus{text-decoration:none;color:#d9261c;transition-property:color;transition-duration:.5s;transition-timing-function:ease-out}
a:focus{outline:1px dashed rgba(51,51,51,0.5)}
h1,h2,h3,.h1,.h2,.h3{font-weight:500;letter-spacing:-0.02em;word-spacing:.1em}
body.roman article{font-size:1.4em;font-family:"EB Garamond","Garamond Premier Pro","Garamond",Georgia,serif}body.roman article p,body.roman article h1,body.roman article h2,body.roman article h3,body.roman article .h1,body.roman article .h2,body.roman article .h3{font-family:"EB Garamond","Garamond Premier Pro","Garamond",Georgia,serif;max-width:666px}
body.roman article p{font-size:1.1em}
pre,code{font-family:"Inconsolata",Monaco,Menlo,Consolas,"Courier New",monospace}
img{max-width:100%}
.collapser{cursor:pointer;opacity:.5}
aside{font-size:.9em}
@media (min-width:700px){#pagebody{margin:0 0 0 220px}}@media (min-width:1300px){#pagebody{margin:0 0 0 320px}}@media (min-width:1500px){#pagebody{margin:0 0 0 440px}}article p,article h1,article h2,article h3,article h4,article h5,article h6{max-width:666px}
article p{margin:0 0 1.1em;font-size:1.11em;line-height:140%;-moz-hyphens:auto;-webkit-hyphens:auto;-ms-hyphens:auto;-o-hyphens:auto;hyphens:auto}
article dt{margin-top:1em}
article h1,article .h1,article h2,article .h2,article h3,article .h3{font-family:"EB Garamond","Garamond Premier Pro",Garamond,Georgia,serif}
article h1,article .h1{font-size:2.8em}
article h2,article .h2{font-size:2.4em}
article h3,article .h3{font-size:1.8em}
article figure{margin:2em 0}
article figcaption{padding:7px;font-weight:300}
article .footnotes ol li p a:last-child{margin-left:.5em}
article:last-child{margin-bottom:0}
footer{font-size:.9em}
.feed-link,.feedbutton{font-variant:small-caps;text-transform:lowercase}
body{font-size:14px}
.inlinepage{overflow-y:hidden}
.sidebar{padding:0 2ex}
.header .title{display:inline-block}
[id^="fnref:"].footnote,[id*=" fnref:"].footnote{vertical-align:super;font-size:.8em;line-height:.7em}
