                    <form action="https://webmention.herokuapp.com/api/webmention" method="post" role="form">
                        <p>Have you written a response to this? Let me know by posting a <a href="//webmention.org">webmention</a>:</p>
                        <input name="source" type="url" placeholder="https://example.net/my-cool-post" />
                        <input value="Send Webmention" type="submit" class="btn btn-default">
                        <p>Show you are not a bot, copy and paste the URL of the current page:</p>
                        <TMPL_IF PERMALINK>
                            <input name="target" type="url" placeholder="https://hroy.eu/…<TMPL_VAR PERMALINK>">
                            <TMPL_ELSE>
                            <input name="target" type="url" placeholder="https://hroy.eu/…<TMPL_VAR PAGEURL>">
                        </TMPL_IF>
                        <p class="help-block">Powered by <a href="//webmention.herokuapp.com/">the webmention endpoint</a>.</p>
                    </form>
