#tutorial-linuxdefenders-local-css * {

section {
    margin: 0.25em 0 2em;
}

section.example {
    width: 45%;
}
section.comments {
    width: 50%;
}
section#meta {
    width: 95%;
}
.defpubstep {
    width: 90%;
}
section.example figure img {
    width: 100%;
}


section#meta section {
    border: 1px solid #1A4C7F;
    text-align: center;
}

.defpubstep {
    clear: both;
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5em;
}

section.level {
    clear: both;
    margin: 6em 0;
}

section.example {
    clear: right;
    float: left;
    padding-right: 2em;
    border-right: 2px solid #1A4C7F;
}

section.comments {
    float: right;
    font-style: italic;
}

section.abstract ul.tags li {
    display: inline;
}
section.abstract ul.tags li:after {
    content: " —";
}

hr.break {
    clear: both;
}

}
