<form <TMPL_IF POSTFORMID>id="<TMPL_VAR POSTFORMID ESCAPE=HTML>"</TMPL_IF> action="<TMPL_VAR CGIURL>" method="get">
    <div class="blogform">
        <TMPL_IF RSSURL>
            <a class="feedbutton hide btn btn-xs btn-warning" type="application/rss+xml" rel="alternate" title="<TMPL_VAR RSSDESC>" href="<TMPL_VAR RSSURL>"><span class="feed-link">RSS</span> <i class="icon-rss fa fa-rss"></i></a>
        </TMPL_IF>
        <TMPL_IF ATOMURL>
            <a class="feedbutton btn btn-xs btn-warning" type="application/atom+xml" rel="alternate" title="<TMPL_VAR ATOMDESC>" href="<TMPL_VAR ATOMURL>"><span class="feed-link hide">Atom</span> feed <i class="icon-rss fa fa-rss"></i></a>
        </TMPL_IF>
        <input type="hidden" name="do" value="blog" />
        <input type="hidden" name="from" value="<TMPL_VAR ROOTPAGE>" />
        <input type="hidden" name="subpage" value="1" />
        <TMPL_VAR POSTFORMTEXT>
        <input name="title" size="40" />
        <input type="submit" value="Edit" />
    </div>
</form>
