<div <TMPL_IF ID>id="<TMPL_VAR ID ESCAPE=HTML>"</TMPL_IF> class="feedlink pull-right">
<TMPL_IF RSSURL>
<a class="feedbutton btn btn-warning btn-mini" type="application/rss+xml" rel="alternate" title="<TMPL_VAR RSSDESC>" href="<TMPL_VAR RSSURL>">Subscribe to <span class="feed-link">RSS <i class="icon-rss"></i></span> feed</a>
</TMPL_IF>
<TMPL_IF ATOMURL>
<a class="feedbutton btn btn-warning btn-mini" type="application/atom+xml" rel="alternate" title="<TMPL_VAR ATOMDESC>" href="<TMPL_VAR ATOMURL>">Subscribe to <span class="feed-link">Atom <i class="icon-rss"></i></a> feed</a>
</TMPL_IF>
</div>
