<div <TMPL_IF ID>id="<TMPL_VAR ID ESCAPE=HTML>"</TMPL_IF> class="subscribers">
    <TMPL_IF RSSURL>
        <a class="feedbutton rss hide btn btn-xs btn-warning" type="application/rss+xml" rel="alternate" title="<TMPL_VAR RSSDESC>" href="<TMPL_VAR RSSURL>"><span class="feed-link">RSS</span> <i class="fa fa-rss icon-rss"></i></a>
    </TMPL_IF>
    <TMPL_IF ATOMURL>
        <a class="feedbutton atom btn btn-xs btn-warning" type="application/atom+xml" rel="alternate" title="<TMPL_VAR ATOMDESC>" href="<TMPL_VAR ATOMURL>"><span class="feed-link hide">Atom</span> feed <i class="fa fa-rss icon-rss"></i></a>
    </TMPL_IF>
</div>
