<div class="tip fragmentjs">
<p>
This page uses <a href="https://github.com/chapmanu/fragmentions">fragmentions (javascript)</a>. Link to any bit of this document by appending <code>##</code> to the URI.
</p>
<p><a href="##<TMPL_VAR FRAGEG>">Example</a></p>
</div>

<script src="/js/fragmention.js" type="text/javascript"></script>
