<div class="tip fragmentjs">
<p>
This page uses <a href="https://github.com/chapmanu/fragmentions">fragmentions JS</a>. Link to any bit of this document by appending to the URI: <a href="##any bit of this document"><code>##any bit of this doc</code></a>.
</p>
<p><a href="##<TMPL_VAR FRAGEG>">Example</a></p>
</div>
