<div class="inlinetext">
<div class="inlinelinks">
<TMPL_IF PERMALINK>
<a href="<TMPL_VAR PERMALINK>" class="inlinepermalink">
<TMPL_ELSE>
<a href="<TMPL_VAR PAGEURL>" class="inlinepermalink">
</TMPL_IF>
⚓</a>
</div>
<div class="inlinecontent">
<TMPL_VAR CONTENT>
</div>
</div>
