<div class="microblog">
<div class="microblog-header">

<TMPL_IF AUTHOR>
<span class="author">
<TMPL_IF AUTHORURL>
<a href="<TMPL_VAR AUTHORURL>"><TMPL_VAR AUTHOR></a>
<TMPL_ELSE>
<TMPL_VAR AUTHOR>
</TMPL_IF>
</span>  
</TMPL_IF>

<TMPL_IF PERMALINK>
    <a href="<TMPL_VAR PERMALINK>" class="u-url" title="Permalink to: <TMPL_VAR TITLE>"><TMPL_VAR CTIME></a>
    <TMPL_ELSE>
    <a href="<TMPL_VAR PAGEURL>" class="u-url" title="Bookmark: <TMPL_VAR TITLE>"><TMPL_VAR CTIME></a>
</TMPL_IF>
</div> <!--.microblog-header-->

<div class="inlinecontent">
<TMPL_VAR CONTENT>
</div>

</div> <!--.microblog-->
