<TMPL_IF HTML5><!DOCTYPE html>
<html<TMPL_IF LANGUAGE> lang="<TMPL_VAR LANGUAGE>"</TMPL_IF>>
<TMPL_ELSE><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"<TMPL_IF LANGUAGE> xml:lang="<TMPL_VAR LANGUAGE>"</TMPL_IF>>
</TMPL_IF>
<head>
    <TMPL_IF DYNAMIC>
        <TMPL_IF FORCEBASEURL>
            <base href="<TMPL_VAR FORCEBASEURL>" />
            <TMPL_ELSE>
            <TMPL_IF BASEURL>
                <base href="<TMPL_VAR BASEURL>" />
            </TMPL_IF>
        </TMPL_IF>
    </TMPL_IF>
    <TMPL_IF HTML5><meta charset="utf-8" /><TMPL_ELSE><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></TMPL_IF>
    <TMPL_IF HTML5><meta name="viewport" content="width=device-width, initial-scale=1.0"></TMPL_IF>
    <TMPL_IF TITLE>
        <title><TMPL_VAR TITLE></title>
        <TMPL_ELSE>
        <title><TMPL_VAR WIKINAME></title>
    </TMPL_IF>
    <TMPL_IF FAVICON>
        <link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
    </TMPL_IF>
    <link rel="stylesheet" href="<TMPL_VAR BASEURL>hroy.css" type="text/css" />
    <TMPL_IF LOCAL_CSS>
        <link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
        <TMPL_ELSE>
        <!--link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" /-->
    </TMPL_IF>
    <TMPL_UNLESS DYNAMIC>
        <TMPL_IF EDITURL>
            <link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
        </TMPL_IF>
        <TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
        <TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
        <TMPL_IF META><TMPL_VAR META></TMPL_IF>
        <TMPL_LOOP TRAILLOOP>
            <TMPL_IF PREVPAGE>
                <link rel="prev" href="<TMPL_VAR PREVURL>" title="<TMPL_VAR PREVTITLE>" />
            </TMPL_IF>
            <link rel="up" href="<TMPL_VAR TRAILURL>" title="<TMPL_VAR TRAILTITLE>" />
            <TMPL_IF NEXTPAGE>
                <link rel="next" href="<TMPL_VAR NEXTURL>" title="<TMPL_VAR NEXTTITLE>" />
            </TMPL_IF>
        </TMPL_LOOP>
        <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention">
    </TMPL_UNLESS>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hugoroyd">
    <meta name="twitter:title" content="<TMPL_IF TITLE><TMPL_VAR TITLE><TMPL_ELSE><TMPL_VAR WIKINAME></TMPL_IF>">
    <meta name="twitter:description" content="<TMPL_IF DESCRIPTION><TMPL_VAR DESCRIPTION></TMPL_IF> <TMPL_LOOP TAGS>&#35;<TMPL_VAR LINK ESCAPE=HTML> </TMPL_LOOP>">
    <meta name="twitter:domain" content="hroy.eu">
</head>
<body class="hroy-eu<TMPL_IF LANGUAGE> <TMPL_VAR LANGUAGE></TMPL_IF>"> <!--<TMPL_IF PAGEID> <TMPL_VAR PAGEID></TMPL_IF>"<TMPL_IF PAGEID> id="<TMPL_VAR PAGEID>"</TMPL_IF>>-->

    <TMPL_IF HTML5><article class="page h-entry"><TMPL_ELSE><div class="page"></TMPL_IF>

        <TMPL_IF HTML5><section class="pageheader"><TMPL_ELSE><div class="pageheader"></TMPL_IF>

            <TMPL_IF HAVE_ACTIONS>
                <TMPL_IF HTML5><nav class="actions"><TMPL_ELSE><div class="actions"></TMPL_IF>

                    <ul>
                        <li class="skipto"><a href="#content" rel="nofollow">Skip to content</a></li>
                    <TMPL_IF EDITURL>
                        <li><a href="<TMPL_VAR EDITURL>" rel="nofollow">Edit</a></li>
                    </TMPL_IF>
                    <TMPL_IF RECENTCHANGESURL>
                        <li><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
                    </TMPL_IF>
                    <TMPL_IF HISTORYURL>
                        <li><a href="<TMPL_VAR HISTORYURL>">History</a></li>
                    </TMPL_IF>
                    <TMPL_IF GETSOURCEURL>
                        <li><a href="<TMPL_VAR GETSOURCEURL>">Source</a></li>
                    </TMPL_IF>
                    <TMPL_IF PREFSURL>
                        <li><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
                    </TMPL_IF>

                    <TMPL_IF ACTIONS>
                    <TMPL_LOOP ACTIONS>
                        <li><TMPL_VAR ACTION></li>
                    </TMPL_LOOP>
                    </TMPL_IF>

                    <TMPL_IF COMMENTSLINK>
                        <li><TMPL_VAR COMMENTSLINK></li>
                    <TMPL_ELSE>
                    <TMPL_IF DISCUSSIONLINK>
                        <li><TMPL_VAR DISCUSSIONLINK></li>
                    </TMPL_IF>
                    </TMPL_IF>
                    </ul>

                <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
            </TMPL_IF>

            <TMPL_IF HTML5><header class="header"><TMPL_ELSE><div class="header"></TMPL_IF>

                <div class="masthead">
                    <span class="parentlinks">
                    <TMPL_LOOP PARENTLINKS>
                        <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>/ 
                    </TMPL_LOOP>
                    </span>

                    <h1 class="title p-name">
                    <TMPL_VAR TITLE>
                    <TMPL_IF ISTRANSLATION>
                        &nbsp;(<TMPL_VAR PERCENTTRANSLATED>%)
                    </TMPL_IF>
                    </h1>
                </div>

            <TMPL_IF HTML5></header><TMPL_ELSE></div></TMPL_IF>

            <TMPL_UNLESS DYNAMIC>
                <TMPL_IF SEARCHFORM>
                    <TMPL_VAR SEARCHFORM>
                </TMPL_IF>
            </TMPL_UNLESS>


        <TMPL_IF OTHERLANGUAGES>
        <TMPL_IF HTML5><nav id="otherlanguages"><TMPL_ELSE><div id="otherlanguages"></TMPL_IF>
            <ul>
            <TMPL_LOOP OTHERLANGUAGES>
                <li>
                    <a href="<TMPL_VAR URL>"><TMPL_VAR LANGUAGE></a>
                    <TMPL_IF MASTER>
                    (master)
                    <TMPL_ELSE>
                    &nbsp;(<TMPL_VAR PERCENT>%)
                    </TMPL_IF>
                </li>
            </TMPL_LOOP>
            </ul>
        <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
        </TMPL_IF>

        <TMPL_UNLESS DYNAMIC>
        <TMPL_VAR TRAILS>
        </TMPL_UNLESS>

        <TMPL_IF HTML5></section><TMPL_ELSE></div><!--/.pageheader--></TMPL_IF>

        <TMPL_UNLESS DYNAMIC>
            <TMPL_IF SIDEBAR>
            <TMPL_IF HTML5><aside class="sidebar"><TMPL_ELSE><div class="sidebar"></TMPL_IF>

                <TMPL_VAR SIDEBAR>

            <TMPL_IF HTML5></aside><TMPL_ELSE></div></TMPL_IF>
            </TMPL_IF>
        </TMPL_UNLESS>

        <div id="pagebody">

            <div class="pagedate published dt-published">
                <TMPL_IF PERMALINK>
                    <a href="<TMPL_VAR PERMALINK>" class="u-url" title="Permalink to: <TMPL_VAR TITLE>"><TMPL_VAR CTIME></a>
                    <TMPL_ELSE>
                    <a href="<TMPL_VAR PAGEURL>" class="u-url" title="Bookmark: <TMPL_VAR TITLE>"><TMPL_VAR CTIME></a>
                </TMPL_IF>
            </div>

            <TMPL_IF HTML5><section id="content" class="e-content"><TMPL_ELSE><div id="content"></TMPL_IF>

                <TMPL_VAR CONTENT>

            <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>

            <TMPL_UNLESS DYNAMIC>
                <TMPL_VAR TRAILS>

                <TMPL_IF COMMENTS>
                    <TMPL_IF HTML5><section id="comments"><TMPL_ELSE><div id="comments"></TMPL_IF>

                        <TMPL_VAR COMMENTS>

                        <TMPL_IF ADDCOMMENTURL>
                            <div class="addcomment">
                            <a href="<TMPL_VAR ADDCOMMENTURL>" class="btn btn-default">Add a comment</a>
                            <br />
                            <a href="/about/#comment-policy" class="terms">Comment Policy (your IP is logged)</a>
                            </div>
                            <TMPL_ELSE>
                            <div class="addcomment">Comments on this page are closed.</div>
                        </TMPL_IF>
                    <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>

                </TMPL_IF>

                <section id="webmentions">
                    <script id="webmention-hosted">
                      (function () {
                        var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
                        url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
                        url = url && url[0] ? url[0].href : false;
                        sn.type = "text/javascript"; sn.async = true;
                        sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
                        s.parentNode.insertBefore(sn, s);
                      }());
                    </script>
                </section>
            </TMPL_UNLESS>

        </div>

        <TMPL_IF HTML5><footer id="footer" class="pagefooter"><TMPL_ELSE><div id="footer" class="pagefooter"></TMPL_IF>
        <TMPL_UNLESS DYNAMIC>

            <TMPL_IF HTML5><section id="pageinfo"><TMPL_ELSE><div id="pageinfo"></TMPL_IF>

            <div class="contact">
                By <a href="http://hugoroy.eu/index.en.html" rel="author" class="p-author h-card">Hugo Roy</a>
            </div>

            <div class="pagedate">
                Last edited <span class="dt-updated"><TMPL_VAR MTIME></span> <a href="<TMPL_VAR HISTORYURL>">History</a>
                <!-- Created <TMPL_VAR CTIME> -->
            </div>

            <TMPL_IF TAGS>
                <TMPL_IF HTML5><nav class="tags"><TMPL_ELSE><div class="tags"></TMPL_IF>
                    Tags:
                    <TMPL_LOOP TAGS>
                    <span class="p-category">
                        <TMPL_VAR LINK>
                    </span>
                    </TMPL_LOOP>
                <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
            </TMPL_IF>

            <TMPL_IF BACKLINKS>
                <TMPL_IF HTML5><nav id="backlinks"><TMPL_ELSE><div id="backlinks"></TMPL_IF>
                    Links:
                    <TMPL_LOOP BACKLINKS>
                        <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
                    </TMPL_LOOP>
                    <TMPL_IF MORE_BACKLINKS>
                        <span class="popup">...
                        <span class="balloon">
                            <TMPL_LOOP MORE_BACKLINKS>
                                <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
                            </TMPL_LOOP>
                        </span>
                        </span>
                    </TMPL_IF>
                <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>
            </TMPL_IF>

            <TMPL_IF COPYRIGHT>
                <div class="pagecopyright">
                    <a name="pagecopyright"></a>
                    <TMPL_VAR COPYRIGHT>
                </div>
            </TMPL_IF>

            <TMPL_IF LICENSE>
                <div class="pagelicense">
                <a name="pagelicense"></a>
                License: <span rel="license"><TMPL_VAR LICENSE></span>
                </div>
            </TMPL_IF>

            <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF>
            
            <TMPL_IF HTML5><nav id="sitenav"><TMPL_ELSE><div id="sitenav"></TMPL_IF>
                <a href="/">Home</a>
                <a href="/about/">About</a>
                <a href="/imprint/">Legal</a>
                <a href="/map/">Sitemap</a>
                <a href="/timeline/index.atom">Feed</a>
            <TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF>

            <ul id="relmes">
                <li>
                    <a href="https://ampoliros.net/profile/hugoroyd" rel="me" title="Known profile"><img src="/templates/img/logo_k.png" class="fa-fw" alt="" /></a>&nbsp;</li>
                </li>
                <li> 
                    <a href="https://twitter.com/hugoroyd" rel="me"><i class="fa fa-lg fa-fw fa-twitter" title="Twitter: @hugoroyd"></i></a></li>
                <li>
                    <a href="https://github.com/hugoroy" rel="me"><i class="fa fa-lg fa-fw fa-github" title="GitHub: @hugoroy"></i></a></li>
                <li class="hide"><i class="fa fa-fw fa-chevron-right" title="pump.io"></i> 
                    <a href="https://identi.ca/hugoroy" rel="me" title="@hugoroy">identi.ca</a></li>
                <li class="hide"><i class="fa fa-fw fa-adn" title="App.net"></i> 
                    <a href="https://alpha.app.net/hugoroy" rel="me" title="@hugoroy">App.net</a></li>
                <li class="hide"><i class="fa fa-fw fa-google-plus-square" title="Google+"></i> 
                    <a href="https://plus.google.com/+HugoRoy" rel="me">+Hugo&nbsp;Roy</a></li>
                <li class="hide"><i class="fa fa-fw fa-linkedin" title="LinkedIn"></i>
                    <a href="http://www.linkedin.com/in/hugoroy" rel="me">my resume</a></li>
                <li class="hide"><i class="fa fa-fw fa-music" title="Discogs"></i> 
                    <a href="http://www.discogs.com/collection?page=1&amp;limit=250&amp;sort=year%2Casc&amp;layout=big&amp;user=hugoroy">my discs</a></li>
                <li class="hide"><i class="fa fa-fw fa-book" title="OpenLibrary.org"></i>
                    <a href="http://openlibrary.org/people/hugoroy/lists/OL29190L/Own_Library">my library</a></li>
                <li class="hide"><i class="fa fa-fw fa-camera-retro" title="Flickr"></i> 
                    <a href="http://www.flickr.com/photos/hugoroyd/">pictures</a></li>
                <li class="hide"><i class="fa fa-fw fa-film" title="WatchThis"></i>
                    <a href="http://www.watchth.is/users/Hugo/">movies</a></li>
            </ul>

            <p class="randomquote">
                Without deviation from the norm, progress is not possible.
            </p>

            <TMPL_IF EXTRAFOOTER>
                <TMPL_VAR EXTRAFOOTER>
            </TMPL_IF>

        </TMPL_UNLESS>
        <!-- from <TMPL_VAR WIKINAME> -->
        <TMPL_IF HTML5></footer><TMPL_ELSE></div></TMPL_IF>

    <TMPL_IF HTML5></article><TMPL_ELSE></div></TMPL_IF>
</body>
</html>
