<TMPL_LOOP TRAILLOOP>
<TMPL_IF __FIRST__><TMPL_IF HTML5><nav class="trails"><TMPL_ELSE><div class="trails"></TMPL_IF></TMPL_IF>
<div class="trail">
<TMPL_IF PREVPAGE>
<span class="trailprev">
<span class="trailarrow">↑</span>
<a href="<TMPL_VAR PREVURL>">
<i class="fa fa-arrow-up icon-arrow-up"></i>
    <div class="trailtitle"><span>Previous</span><span class="title"><TMPL_VAR PREVTITLE></span></div>
</a>
<span class="trailsep">|</span>
</span>
</TMPL_IF>
<span class="trailup">
<a href="<TMPL_VAR TRAILURL>" title="<TMPL_VAR TRAILTITLE>"><i class="fa fa-arrow-left icon-arrow-left"></i><span class="hide">Up </span></a>
</span>
<TMPL_IF NEXTPAGE>
<span class="trailnext">
<span class="trailsep">|</span>
<a href="<TMPL_VAR NEXTURL>"><i class="fa fa-arrow-down icon-arrow-down"></i>
    <div class="trailtitle"><span>Next</span><span class="title"><TMPL_VAR NEXTTITLE></span></div>
</a>
<span class="trailarrow">↓</span>
</span>
</TMPL_IF>
</div>
<TMPL_IF __LAST__><TMPL_IF HTML5></nav><TMPL_ELSE></div></TMPL_IF></TMPL_IF>
</TMPL_LOOP>
